<div class="jumbotron">
  <h1 class="display-4">STmedi Spa </h1>
  <p class="lead">The Client Management App</p>
  <hr class="my-4">
  <p>This web app is for internal user only</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/clients" role="button">Client List</a>
  </p>
</div>
