/*
*= require chosen
*/
@import "font-awesome";
@import "bootstrap";
body {
  background-color: white;
  min-height:200vh;
}


.flash-message {
  padding: 8px;
  color: darkolivegreen;
  background-color: palegreen;
  border-radius: 5px;
}

.has-error .help-block {
  color: red;
}

.ShowPage{
  border-radius: 5px;
  border: 1px
}

.form {
  border: 1px solid;
  padding: 25px;
  border-radius: 5px;
  border-color: #CFD4DA;
}
.grid {
  display: grid
}

.color {
  color: #BB972E;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center
}

.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background: #F7F8F9;
}

.Footer {
  background: #F7F8F9;
}

.HomePage {
  margin-bottom: 0px;
}
