/*
*= require chosen
*/
@import "font-awesome";
@import "bootstrap";
body {
  background-color: white;
  min-height:150vh;
  font-family: 'Julius Sans One', sans-serif;
  // text-shadow: 4px 4px 4px #aaa;
  font-weight: bold;
  font-size: 20px;
}

section {
  height: auto;
}

main {
  padding-top: 6em;
  display: grid;
}

.flash-message {
  padding: 8px;
  color: darkolivegreen;
  background-color: palegreen;
  border-radius: 5px;
}

.has-error .help-block {
  color: red;
}

.ShowPage{
  border-radius: 5px;
  border: 1px
}

.form {
  border: 1px solid;
  padding: 25px;
  border-radius: 5px;
  border-color: #CFD4DA;
}
.grid {
  display: grid
}

.color {
  color: #BB972E;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center
}

.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background: #F7F8F9;
}

.Footer {
  background: #F7F8F9;
}

.HomePage {
  margin-bottom: 0px;
}

#fade{
  height: 30vh;
  background-color: rgba(69, 65, 89,.2);
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center
}

.image {
  padding: 0px;
  margin: 0px;
}
